<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancies</title>
</head>
<body>
    <h1>Vacancies</h1>
    <p>Total Vacancies: {{ total_vacancies }}</p>
    <ul>
        {% for vacancy in vacancies %}
        <li>
            <a href="{{ vacancy.url }}">{{ vacancy.name }}</a> <br>
            <p>ЗП:
                {{ vacancy.salary_from }} -
                {{ vacancy.salary_to }}
                {{ vacancy.currency }}<br>
            </p>
            <p>Работадатель:
                ({{ vacancy.employer }})<br><br>
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
